@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie|Roboto|Shadows+Into+Light+Two|Short+Stack");
/*gemaakt voor een mobiel scherm van 400px*/
/*hiervoor mobile*/
/*tablets*/
/*desktops*/
/*grote desktops*/
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.6em;
}

body {
  background-color: #223A52;
  color: #ffff;
}

.navbar {
  background-color: #15A2B1;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px 20px;
  margin: 0px;
  width: 100%;
  z-index: 1;
}

.navbar .navbar-toggler-icon {
  background-color: #15A2B1;
  background-image: url("../styles/images/huisje.png");
  background-repeat: no-repeat;
}

.navbar .nav-link {
  color: #ffff;
}

.navbar .navbar-brand {
  color: #223A52;
}

.navbar .nav-link:hover {
  color: #223A52;
}

/*einde navbar*/
.container-donker {
  margin-top: 100px;
}

.container-donker h1 {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 5em;
}

@media (min-width: 576px) {
  .container-donker h1 {
    font-size: 7em;
  }
}

@media (min-width: 768px) {
  .container-donker h1 {
    font-size: 12em;
  }
}

.container-donker p {
  font-size: 0.9em;
  line-height: 1.6em;
}

.container-donker #leesmeer {
  color: #15A2B1;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  border-radius: 50px;
}

.container-donker #leesmeer:hover {
  background-color: #ffff;
  color: #C73D1B;
  text-decoration: none;
}

.container-donker #vervolgtekst {
  visibility: hidden;
  position: relative;
}

.container-donker #vervolgtekst #Laag_1 {
  position: absolute;
  left: 70%;
  bottom: 0%;
  width: 20px;
  margin: -20px;
}

.container-donker .angst {
  position: relative;
}

.container-donker .angst .angstig {
  width: 80%;
  height: auto;
  margin-left: 30px;
}

@media (min-width: 576px) {
  .container-donker .angst .angstig {
    margin-left: 50px;
    margin-top: 140px;
  }
}

@media (min-width: 768px) {
  .container-donker .angst .angstig {
    margin-left: 20px;
    margin-top: 180px;
  }
}

.container-donker .angst .angstig:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

.container-donker .angst .text1, .container-donker .angst .text2, .container-donker .angst .text3, .container-donker .angst .text4, .container-donker .angst .text5 {
  position: absolute;
  font-family: "Shadows Into Light Two", cursive;
  font-size: 1em;
}

@media (min-width: 576px) {
  .container-donker .angst .text1, .container-donker .angst .text2, .container-donker .angst .text3, .container-donker .angst .text4, .container-donker .angst .text5 {
    font-size: 1.4em;
  }
}

.container-donker .angst .text1 {
  left: 5%;
  top: 20%;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

@media (min-width: 576px) {
  .container-donker .angst .text1 {
    left: 5%;
    top: 40%;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

@media (min-width: 1200px) {
  .container-donker .angst .text1 {
    left: -5%;
    top: 40%;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

.container-donker .angst .text2 {
  left: 60%;
  top: 75%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

@media (min-width: 576px) {
  .container-donker .angst .text2 {
    left: 75%;
    top: 65%;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

@media (min-width: 992px) {
  .container-donker .angst .text2 {
    left: 75%;
    top: 70%;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

.container-donker .angst .text3 {
  left: 70%;
  top: 10%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

@media (min-width: 400px) {
  .container-donker .angst .text3 {
    left: 80%;
    top: 10%;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@media (min-width: 576px) {
  .container-donker .angst .text3 {
    left: 60%;
    top: 10%;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@media (min-width: 768px) {
  .container-donker .angst .text3 {
    left: -5%;
    top: 65%;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

.container-donker .angst .text4 {
  left: 90%;
  top: 40%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

@media (min-width: 992px) {
  .container-donker .angst .text4 {
    left: 80%;
    top: 50%;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

.container-donker .angst .text5 {
  left: 5%;
  top: 70%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

@media (min-width: 576px) {
  .container-donker .angst .text5 {
    left: 10%;
    top: 70%;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@media (min-width: 768px) {
  .container-donker .angst .text5 {
    left: -10%;
    top: 80%;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

.container-donker .angst .expectationbutton {
  position: absolute;
  top: 90%;
  left: 0%;
  color: #ffff;
  background-color: #C73D1B;
  line-height: 30px;
  border-radius: 100px;
  font-size: 1em;
  width: 100%;
  text-align: center;
}

@media (min-width: 576px) {
  .container-donker .angst .expectationbutton {
    padding: 5px 10px;
    font-size: 1.2em;
    line-height: 50px;
  }
}

@media (min-width: 768px) {
  .container-donker .angst .expectationbutton {
    top: 90%;
    left: 0%;
    line-height: 30px;
  }
}

@media (min-width: 992px) {
  .container-donker .angst .expectationbutton {
    top: 90%;
    left: -5%;
    line-height: 64px;
  }
}

.container-donker .angst .expectationbutton:hover {
  background-color: #ffff;
  color: #C73D1B;
  text-decoration: none;
}

/*einde eerste container (inleiding + afbeelding)*/
.wit {
  background-color: #ffff;
  color: black;
  margin-top: 50px;
  padding-top: 200px;
  padding-bottom: 200px;
}

@media (min-width: 768px) {
  .wit {
    padding: 250px 0px;
  }
}

@media (min-width: 768px) {
  .wit {
    padding: 300px 0px;
  }
}

.wit .oorzaken {
  position: relative;
}

.wit .oorzaken h2 {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
}

.wit .oorzaken p.paragraph {
  text-align: center;
}

.wit .oorzaken p.paragraph em {
  font-style: normal;
  font-size: 1em;
}

@media (min-width: 768px) {
  .wit .oorzaken p.paragraph em {
    font-size: 1.8em;
  }
}

.wit .oorzaken .oorzaak1 {
  position: absolute;
  top: -40%;
  left: 5%;
}

@media (min-width: 576px) {
  .wit .oorzaken .oorzaak1 {
    top: -70%;
  }
}

@media (min-width: 768px) {
  .wit .oorzaken .oorzaak1 {
    top: -75%;
  }
}

.wit .oorzaken .oorzaak1 #zoen {
  height: 90px;
  width: auto;
}

@media (min-width: 576px) {
  .wit .oorzaken .oorzaak1 #zoen {
    height: 120px;
  }
}

@media (min-width: 768px) {
  .wit .oorzaken .oorzaak1 #zoen {
    height: 160px;
  }
}

@media (min-width: 992px) {
  .wit .oorzaken .oorzaak1 #zoen {
    height: 200px;
  }
}

.wit .oorzaken .oorzaak1 #zoen:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  z-index: -1;
}

.wit .oorzaken .oorzaak1 p.meertekst1 {
  display: none;
  z-index: 2;
  background-color: #15A2B1;
  padding: 20px;
  border-radius: 60px;
  margin-top: 10px;
  font-family: "Shadows Into Light Two", cursive;
  color: #ffff;
  font-style: italic;
}

@media (min-width: 992px) {
  .wit .oorzaken .oorzaak1 p.meertekst1 {
    margin-top: 25px;
  }
}

.wit .oorzaken .oorzaak2 {
  position: absolute;
  top: 100%;
  left: 10%;
}

@media (min-width: 768px) {
  .wit .oorzaken .oorzaak2 {
    top: 90%;
  }
}

.wit .oorzaken .oorzaak2 #zak {
  height: 90px;
  width: auto;
}

@media (min-width: 576px) {
  .wit .oorzaken .oorzaak2 #zak {
    height: 120px;
  }
}

@media (min-width: 768px) {
  .wit .oorzaken .oorzaak2 #zak {
    height: 160px;
  }
}

@media (min-width: 992px) {
  .wit .oorzaken .oorzaak2 #zak {
    height: 200px;
  }
}

.wit .oorzaken .oorzaak2 #zak:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.wit .oorzaken .oorzaak2 p.meertekst2 {
  display: none;
  z-index: 1;
  background-color: #15A2B1;
  padding: 20px;
  border-radius: 60px;
  margin: -210px 0px 0px;
  font-family: "Shadows Into Light Two", cursive;
  color: #ffff;
  font-style: italic;
}

@media (min-width: 768px) {
  .wit .oorzaken .oorzaak2 p.meertekst2 {
    margin: -230px 0px 0px;
  }
}

@media (min-width: 992px) {
  .wit .oorzaken .oorzaak2 p.meertekst2 {
    margin-top: -280px;
  }
}

.wit .oorzaken .oorzaak3 {
  position: absolute;
  top: -45%;
  left: 70%;
}

@media (min-width: 576px) {
  .wit .oorzaken .oorzaak3 {
    top: -75%;
  }
}

.wit .oorzaken .oorzaak3 #pyjama {
  height: 100px;
  width: auto;
}

@media (min-width: 576px) {
  .wit .oorzaken .oorzaak3 #pyjama {
    height: 140px;
  }
}

@media (min-width: 768px) {
  .wit .oorzaken .oorzaak3 #pyjama {
    height: 160px;
  }
}

@media (min-width: 992px) {
  .wit .oorzaken .oorzaak3 #pyjama {
    height: 200px;
  }
}

.wit .oorzaken .oorzaak3 #pyjama:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.wit .oorzaken .oorzaak3 p.meertekst3 {
  display: none;
  z-index: 1;
  background-color: #15A2B1;
  padding: 20px;
  border-radius: 60px;
  font-family: "Shadows Into Light Two", cursive;
  color: #ffff;
  font-style: italic;
}

@media (min-width: 576px) {
  .wit .oorzaken .oorzaak3 p.meertekst3 {
    margin-top: 15px;
  }
}

@media (min-width: 992px) {
  .wit .oorzaken .oorzaak3 p.meertekst3 {
    margin-top: 30px;
  }
}

.wit .oorzaken .oorzaak4 {
  position: absolute;
  top: 100%;
  left: 80%;
}

.wit .oorzaken .oorzaak4 #uitnodiging {
  height: 100px;
  width: auto;
}

@media (min-width: 576px) {
  .wit .oorzaken .oorzaak4 #uitnodiging {
    height: 130px;
  }
}

@media (min-width: 768px) {
  .wit .oorzaken .oorzaak4 #uitnodiging {
    height: 160px;
  }
}

@media (min-width: 992px) {
  .wit .oorzaken .oorzaak4 #uitnodiging {
    height: 200px;
  }
}

.wit .oorzaken .oorzaak4 #uitnodiging:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.wit .oorzaken .oorzaak4 p.meertekst4 {
  display: none;
  z-index: 1;
  background-color: #15A2B1;
  padding: 20px;
  margin: -215px 0px 0px -100px;
  border-radius: 60px;
  font-family: "Shadows Into Light Two", cursive;
  color: #ffff;
  font-style: italic;
}

@media (min-width: 768px) {
  .wit .oorzaken .oorzaak4 p.meertekst4 {
    margin: -280px 0px 0px -100px;
  }
}

@media (min-width: 992px) {
  .wit .oorzaken .oorzaak4 p.meertekst4 {
    margin: -320px 0px 0px -100px;
  }
}

.wit .oorzaken .oorzaak5 {
  position: absolute;
  top: 120%;
  left: 40%;
}

@media (min-width: 992px) {
  .wit .oorzaken .oorzaak5 {
    top: 130%;
  }
}

.wit .oorzaken .oorzaak5 #chocolade {
  height: 100px;
  width: auto;
}

@media (min-width: 576px) {
  .wit .oorzaken .oorzaak5 #chocolade {
    height: 120px;
  }
}

@media (min-width: 768px) {
  .wit .oorzaken .oorzaak5 #chocolade {
    height: 160px;
  }
}

@media (min-width: 992px) {
  .wit .oorzaken .oorzaak5 #chocolade {
    height: 200px;
  }
}

.wit .oorzaken .oorzaak5 #chocolade:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.wit .oorzaken .oorzaak5 p.meertekst5 {
  display: none;
  z-index: 1;
  background-color: #15A2B1;
  padding: 20px;
  margin: -215px 0px 0px;
  border-radius: 60px;
  font-family: "Shadows Into Light Two", cursive;
  color: #ffff;
  font-style: italic;
}

@media (min-width: 768px) {
  .wit .oorzaken .oorzaak5 p.meertekst5 {
    margin: -250px 0px 0px;
  }
}

@media (min-width: 992px) {
  .wit .oorzaken .oorzaak5 p.meertekst5 {
    margin-top: -280px;
  }
}

.wit .oorzaken .oorzaak6 {
  position: absolute;
  top: -60%;
  left: 45%;
}

@media (min-width: 576px) {
  .wit .oorzaken .oorzaak6 {
    top: -100%;
  }
}

@media (min-width: 768px) {
  .wit .oorzaken .oorzaak6 {
    position: absolute;
    top: -100%;
    left: 40%;
  }
}

@media (min-width: 992px) {
  .wit .oorzaken .oorzaak6 {
    top: -125%;
  }
}

.wit .oorzaken .oorzaak6 #mandje {
  height: 90px;
  width: auto;
}

@media (min-width: 576px) {
  .wit .oorzaken .oorzaak6 #mandje {
    height: 130px;
  }
}

@media (min-width: 768px) {
  .wit .oorzaken .oorzaak6 #mandje {
    height: 160px;
  }
}

@media (min-width: 992px) {
  .wit .oorzaken .oorzaak6 #mandje {
    height: 200px;
  }
}

.wit .oorzaken .oorzaak6 #mandje:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.wit .oorzaken .oorzaak6 p.meertekst6 {
  display: none;
  z-index: 1;
  background-color: #15A2B1;
  padding: 20px;
  border-radius: 60px;
  font-family: "Shadows Into Light Two", cursive;
  color: #ffff;
  font-style: italic;
}

@media (min-width: 576px) {
  .wit .oorzaken .oorzaak6 p.meertekst6 {
    margin-top: 10px;
  }
}

@media (min-width: 992px) {
  .wit .oorzaken .oorzaak6 p.meertekst6 {
    margin-top: 25px;
  }
}

/*einde oorzaken*/
.lichtblauw {
  background-color: #15A2B1;
  text-align: center;
}

@media (min-width: 576px) {
  .lichtblauw {
    text-align: left;
  }
}

.lichtblauw .symptomen {
  margin: 110px 0px;
}

.lichtblauw .symptomen h2 {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 3em;
  margin-bottom: 20px;
}

.lichtblauw .symptomen p.uitlegkalender {
  line-height: 25px;
}

.lichtblauw .symptomen p.uitlegkalender em {
  font-style: normal;
  font-size: 1em;
}

@media (min-width: 768px) {
  .lichtblauw .symptomen p.uitlegkalender em {
    font-size: 1.8em;
  }
}

.lichtblauw .symptomen p.twijfel {
  margin-top: 40px;
}

.lichtblauw .symptomen .zelftestbutton {
  color: #ffff;
  background-color: #C73D1B;
  padding: 15px 20px;
  border-radius: 50px;
  line-height: 64px;
  font-size: 1.2em;
}

.lichtblauw .symptomen .zelftestbutton:hover {
  background-color: #ffff;
  color: #C73D1B;
  text-decoration: none;
}

.lichtblauw .kalender {
  display: none;
  -webkit-filter: drop-shadow(2px 2px 7px black);
          filter: drop-shadow(2px 2px 7px black);
}

@media (min-width: 768px) {
  .lichtblauw .kalender {
    height: 270px;
    width: auto;
    margin: -7px 0px 0px 70px;
    display: block;
  }
}

@media (min-width: 992px) {
  .lichtblauw .kalender {
    height: 400px;
  }
}

/*einde symptomen*/
.praat {
  margin: 200px 0px;
  position: relative;
}

.praat .uitroep {
  width: 300px;
  position: absolute;
  top: 0%;
  left: 2%;
}

@media (min-width: 576px) {
  .praat .uitroep {
    position: absolute;
    top: 10%;
    left: -2%;
    width: 400px;
  }
}

.praat .praatoproep {
  text-align: center;
  position: relative;
}

.praat .praatoproep h2 {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 3em;
  margin-bottom: 20px;
}

.praat .praatoproep p.hulptekst {
  line-height: 1.6em;
}

.praat .praatoproep p.hulptekst em {
  font-style: normal;
  font-size: 1em;
}

@media (min-width: 768px) {
  .praat .praatoproep p.hulptekst em {
    font-size: 1.8em;
  }
}

.praat .praatoproep p.lidmaatschap {
  margin: 50px 0px 10px 0px;
}

.praat .praatoproep #zelfhulpgroepbutton {
  color: #ffff;
  background-color: #C73D1B;
  padding: 15px 20px;
  border-radius: 50px;
  line-height: 64px;
  font-size: 1.2em;
}

.praat .praatoproep #zelfhulpgroepbutton:hover {
  background-color: #ffff;
  color: #C73D1B;
  text-decoration: none;
}

.praat .praatoproep .verborgenuitleg {
  display: none;
}

.praat .praatoproep .verborgenuitleg #spraakballon {
  height: 205px;
  width: auto;
  -webkit-transform: rotate(400deg);
          transform: rotate(400deg);
  position: absolute;
  left: 10%;
  top: 100%;
}

@media (min-width: 576px) {
  .praat .praatoproep .verborgenuitleg #spraakballon {
    left: 30%;
  }
}

@media (min-width: 992px) {
  .praat .praatoproep .verborgenuitleg #spraakballon {
    position: absolute;
    top: 30%;
    left: 60%;
    -webkit-transform: none;
            transform: none;
    height: 250px;
  }
}

@media (min-width: 1200px) {
  .praat .praatoproep .verborgenuitleg #spraakballon {
    height: 280px;
  }
}

.praat .praatoproep .verborgenuitleg #uitleg {
  font-size: 0.8em;
  color: black;
  font-family: "Shadows Into Light Two", cursive;
  position: absolute;
  top: 115%;
  left: 44%;
  font-size: 0.7em;
}

@media (min-width: 400px) {
  .praat .praatoproep .verborgenuitleg #uitleg {
    left: 28%;
    top: 120%;
  }
}

@media (min-width: 576px) {
  .praat .praatoproep .verborgenuitleg #uitleg {
    left: 42%;
    top: 120%;
    padding: 15px;
  }
}

@media (min-width: 768px) {
  .praat .praatoproep .verborgenuitleg #uitleg {
    position: absolute;
    bottom: 0%;
    left: 39%;
    padding: 20px;
  }
}

@media (min-width: 992px) {
  .praat .praatoproep .verborgenuitleg #uitleg {
    position: absolute;
    top: 45%;
    left: 70%;
    font-size: 1em;
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  .praat .praatoproep .verborgenuitleg #uitleg {
    position: absolute;
    top: 50%;
    left: 69%;
    padding: 10px;
  }
}

/*einde praat*/
/*hulpiconen*/
.white {
  background-color: #ffff;
  color: black;
  padding: 70px 0px 70px;
}

.white em {
  font-style: normal;
  font-size: 1em;
}

@media (min-width: 768px) {
  .white em {
    font-size: 1.8em;
  }
}

.white .hulpicoon {
  height: 30px;
}

@media (min-width: 576px) {
  .white .hulpicoon {
    height: 50px;
    margin: 30px 0px 15px;
  }
}

@media (min-width: 768px) {
  .white .hulpicoon {
    height: 100px;
  }
}

.white .gegevens {
  color: black;
  font-size: 0.7em;
  margin-top: 10px;
}

@media (min-width: 576px) {
  .white .gegevens {
    font-size: 1.2em;
    margin-top: 0px;
  }
}

.white .gegevens:hover {
  color: #C73D1B;
  text-decoration: none;
}

/*einde hulpiconen*/
/*begin footer*/
.footer .footer-container {
  padding: 30px 0px;
}

.footer .footer-container .contact, .footer .footer-container .openingsuren, .footer .footer-container .volgen {
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  .footer .footer-container .contact, .footer .footer-container .openingsuren, .footer .footer-container .volgen {
    margin-bottom: 20px;
  }
}

.footer .footer-container .icon {
  width: 30px;
  padding: 0px 10px 10px 0px;
}

.footer .footer-container .mailto {
  color: white;
}

.footer .footer-container .mailto:hover {
  color: #C73D1B;
  text-decoration: none;
}

.footer .footer-container .inline {
  display: inline;
}

.footer .footer-container #e-mail {
  border-radius: 100px;
  padding: 2px 5px;
  display: block;
}

@media (min-width: 576px) {
  .footer .footer-container #e-mail {
    display: inline;
  }
}

.footer .footer-container #inschrijven {
  border-radius: 100px;
  background-color: #C73D1B;
  color: #ffff;
  padding: 2px 5px;
  margin-top: 10px;
}

@media (min-width: 576px) {
  .footer .footer-container #inschrijven {
    margin-top: 0px;
  }
}

.hulpiconen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hulpiconen .icoon1 .emailimg {
  margin-left: 30%;
}

@media (min-width: 768px) {
  .hulpiconen .icoon1 .emailimg {
    margin-left: 0%;
  }
}

.hulpiconen .icoon1 .mail {
  display: block;
}

@media (min-width: 768px) {
  .hulpiconen .icoon2 .chatimg {
    margin-left: -10%;
  }
}

.hulpiconen .icoon2 .chat {
  display: block;
}

.hulpiconen .icoon3 .telefoonimg {
  margin-left: 20%;
}

@media (min-width: 768px) {
  .hulpiconen .icoon3 .telefoonimg {
    margin-left: 10%;
  }
}

.hulpiconen .icoon3 .telefoon {
  display: block;
}
/*# sourceMappingURL=style.css.map */