@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie|Roboto|Shadows+Into+Light+Two|Short+Stack");
/*gemaakt voor een mobiel scherm van 400px*/
/*hiervoor mobile*/
/*tablets*/
/*desktops*/
/*grote desktops*/
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.6em;
}

body {
  background-color: #223A52;
  color: #ffff;
}

.navbar {
  background-color: #15A2B1;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px 20px;
  margin: 0px;
  width: 100%;
  z-index: 1;
}

.navbar .navbar-toggler-icon {
  background-color: #15A2B1;
  background-image: url("../styles/images/huisje.png");
  background-repeat: no-repeat;
}

.navbar .nav-link {
  color: #ffff;
}

.navbar .navbar-brand {
  color: #223A52;
}

.navbar .nav-link:hover {
  color: #223A52;
}

/*einde navbar*/
.text {
  margin-top: 100px;
}

.text h1, .text h2 {
  font-family: "Shadows Into Light Two", cursive;
}

.text h1 {
  margin-bottom: 50px;
  font-size: 4em;
}

@media (min-width: 576px) {
  .text h1 {
    font-size: 6em;
  }
}

.text h2 {
  margin-bottom: 15px;
}

.text p {
  line-height: 1.4em;
  margin-bottom: 40px;
}

/*einde tekst*/
/*begin sidebar*/
.sidebar {
  background-color: #C73D1B;
  padding-top: 20px;
  margin-bottom: 40px;
  border-radius: 30px;
}

.sidebar h4 {
  font-family: "Shadows Into Light Two", cursive;
  text-align: center;
  font-size: 2.5em;
  margin: 10px 0px 30px;
}

.sidebar .lijstitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.sidebar .lijstitem h6 {
  font-size: 1.2em;
}

.sidebar .lijstitem .onderschrift {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}

.sidebar .lijstitem .bedrag {
  background-color: #223A52;
  border-radius: 1000px;
  padding: 20px;
}

.sidebar .lijstitem .plus {
  padding: 20px 15px;
}

.sidebar {
  background-color: #C73D1B;
  padding-top: 20px;
  margin-bottom: 40px;
}

.sidebar h4 {
  font-family: "Shadows Into Light Two", cursive;
  text-align: center;
  font-size: 2.5em;
  margin: 10px 0px 30px;
}

.sidebar .lijstitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 40px;
}

.sidebar .lijstitem h6 {
  font-size: 1.2em;
}

.sidebar .lijstitem .onderschrift {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}

.sidebar .lijstitem .bedrag {
  background-color: #223A52;
  border-radius: 1000px;
  padding: 20px;
}

.sidebar .lijstitem .plus {
  padding: 20px 15px;
}

.donatebutton h3 {
  background-color: #15A2B1;
  text-align: center;
  line-height: 64px;
  border-radius: 80px;
  width: 100%;
  color: #ffff;
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  .donatebutton h3 {
    width: 70%;
  }
}

.donatebutton h3:hover {
  color: #C73D1B;
  background-color: #ffff;
}

.donatebutton:hover {
  text-decoration: none;
}

.progress {
  width: 100%;
  border-radius: 50px;
  margin-bottom: 7px;
  height: 30px;
}

@media (min-width: 576px) {
  .progress {
    width: 70%;
  }
}

.progress .progress-bar {
  border-radius: 50px;
  background-color: #C73D1B;
}

.schaal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 576px) {
  .schaal #vijftienduizend {
    margin-right: 220px;
  }
}

.aantal {
  font-size: 2.2em;
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .aantal {
    font-size: 2.3em;
  }
}

@media (min-width: 992px) {
  .aantal {
    font-size: 2.75em;
  }
}

.footer {
  background-color: #15A2B1;
}

.footer .footer-container {
  padding: 30px 0px;
}

.footer .footer-container .contact, .footer .footer-container .openingsuren, .footer .footer-container .volgen {
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  .footer .footer-container .contact, .footer .footer-container .openingsuren, .footer .footer-container .volgen {
    margin-bottom: 20px;
  }
}

.footer .footer-container .icon {
  width: 30px;
  padding: 0px 10px 10px 0px;
}

.footer .footer-container .mailto {
  color: white;
}

.footer .footer-container .mailto:hover {
  color: #C73D1B;
  text-decoration: none;
}

.footer .footer-container .inline {
  display: inline;
}

.footer .footer-container #e-mail {
  border-radius: 100px;
  padding: 2px 5px;
  display: block;
}

@media (min-width: 576px) {
  .footer .footer-container #e-mail {
    display: inline;
  }
}

.footer .footer-container #inschrijven {
  border-radius: 100px;
  background-color: #C73D1B;
  color: #ffff;
  padding: 2px 5px;
  margin-top: 10px;
}

@media (min-width: 576px) {
  .footer .footer-container #inschrijven {
    margin-top: 0px;
  }
}
/*# sourceMappingURL=style.css.map */