@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie|Roboto|Shadows+Into+Light+Two|Short+Stack");
/*gemaakt voor een mobiel scherm van 400px*/
/*hiervoor mobile*/
/*tablets*/
/*desktops*/
/*grote desktops*/
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.6em;
}

body {
  background-color: #223A52;
  color: #ffff;
}

body {
  background-color: #223A52;
  color: black;
}

.navbar {
  background-color: #15A2B1;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px 20px;
  margin: 0px;
  width: 100%;
  z-index: 1;
}

.navbar .navbar-toggler-icon {
  background-color: #15A2B1;
  background-image: url("../styles/images/huisje.png");
  background-repeat: no-repeat;
}

.navbar .nav-link {
  color: #ffff;
}

.navbar .navbar-brand {
  color: #223A52;
}

.navbar .nav-link:hover {
  color: #223A52;
}

/*einde navbar*/
.inleiding {
  background-color: #223A52;
  text-align: center;
  color: white;
  margin-top: 130px;
}

.inleiding h1 {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 4em;
}

.zelftest {
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
}

@media (min-width: 576px) {
  .zelftest {
    border-radius: 30px;
  }
}

@media (min-width: 768px) {
  .zelftest {
    width: 60%;
  }
}

.zelftest h1 {
  font-size: 1.5em;
}

.zelftest #vraag {
  font-family: "Roboto", sans-serif;
  background-color: #C73D1B;
  color: white;
  border-radius: 100px;
  padding: 10px;
  font-style: italic;
}

.zelftest .antwoord {
  border-color: red;
}

.zelftest .vragenvolgorde {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.zelftest .vragenvolgorde #vorige {
  color: #C73D1B;
  margin: 10px 0px 10px;
}

.zelftest .vragenvolgorde #volgende {
  color: #C73D1B;
  visibility: hidden;
  margin: 10px 0px 10px;
}

.zelftest .vragenvolgorde #volgende:hover, .zelftest .vragenvolgorde #vorige:hover {
  color: #223A52;
  text-decoration: none;
}

.zelftest .progress {
  border-radius: 50px;
  height: 30px;
}

.zelftest .progress .progress-bar {
  border-radius: 50px;
  background-color: #C73D1B;
}

.footer {
  background-color: #15A2B1;
  margin-top: 100px;
}

.footer .footer-container {
  padding: 30px 0px;
  color: #ffff;
}

.footer .footer-container .contact, .footer .footer-container .openingsuren, .footer .footer-container .volgen {
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  .footer .footer-container .contact, .footer .footer-container .openingsuren, .footer .footer-container .volgen {
    margin-bottom: 20px;
  }
}

.footer .footer-container .icon {
  width: 30px;
  padding: 0px 10px 10px 0px;
}

.footer .footer-container .mailto {
  color: white;
}

.footer .footer-container .mailto:hover {
  color: #C73D1B;
  text-decoration: none;
}

.footer .footer-container .inline {
  display: inline;
}

.footer .footer-container #e-mail {
  border-radius: 100px;
  padding: 2px 5px;
  display: block;
}

@media (min-width: 576px) {
  .footer .footer-container #e-mail {
    display: inline;
  }
}

.footer .footer-container #inschrijven {
  border-radius: 100px;
  background-color: #C73D1B;
  color: #ffff;
  padding: 2px 5px;
  margin-top: 10px;
}

@media (min-width: 576px) {
  .footer .footer-container #inschrijven {
    margin-top: 0px;
  }
}
/*# sourceMappingURL=style.css.map */